@model IEnumerable<UserWebModel>
@{
	ViewData["Title"] = "Users";
}

<div>
	@foreach (var item in Model)
	{
		<section class="card">
			<div>
				<div>
					@item.FirstName @item.LastName
				</div>
				<div>
					@item.Username
				</div>
			</div>
			<div class="buttons">
				<form asp-controller="Account" asp-action="Profile" method="get">
					<input type="hidden" name="Username" value="@item.Username">
					<input type="Submit" value="Profile">
				</form>

				<form asp-controller="Account" asp-action="Edit" method="get">
					<input type="hidden" name="Username" value="@item.Username">
					<input type="Submit" value="Edit">
				</form>

				<form asp-controller="Account" asp-action="Delete" method="post">
					<input type="hidden" name="Id" value="@item.Id">
					<input type="Submit" value="Delete">
				</form>
			</div>
		</section>
	}
	@if (Model.Count() == 0)
	{
		<h3>
			There are no users!
		</h3>
	}
</div>
