@model EditUserWebModel
@{
	ViewData["Title"] = "Edit Profile";
}

<form asp-controller="Account" asp-action="Edit" method="post">
	<label asp-for="Username">Username:</label>
	<input type="text" asp-for="Username" placeholder="@Model.Username">
	<span asp-validation-for="Username" class="form-error"></span>

	<label asp-for="FirstName">First Name:</label>
	<input type="text" asp-for="FirstName" placeholder="@Model.FirstName">
	<span asp-validation-for="FirstName" class="form-error"></span>

	<label asp-for="LastName">Last Name:</label>
	<input type="text" asp-for="LastName" placeholder="@Model.LastName">
	<span asp-validation-for="LastName" class="form-error"></span>
	
	<input type="submit" value="Update Profile">
</form>
