@model RegisterUserWebModel
@{
	ViewData["Title"] = "Register";
}

<form asp-controller="Account" asp-action="Register" method="post">
	<input type="text" asp-for="FirstName" placeholder="FirstName">
	<span asp-validation-for="FirstName" class="form-error"></span>

	<input type="text" asp-for="LastName" placeholder="LastName">
	<span asp-validation-for="LastName" class="form-error"></span>

	<input type="text" asp-for="Username" placeholder="Username">
	<span asp-validation-for="Username" class="form-error"></span>
	
	<input type="password" asp-for="Password" placeholder="Password">
	<span asp-validation-for="Password" class="form-error"></span>

	<input type="submit">

	@if (Model != null)
	{
		<p class="form-error">
			Couldn't register account!
		</p>
	}
</form>
