
/* Change the maximum width of content (stuff inside pages and navbar),
 * depending on width of browser window.
 * Configuration copied from default Bootstrap
 */

@media (min-width: 576px) {
  :root {
    --max-content-width: 540px;
  }
}

@media (min-width: 768px) {
  :root {
    --max-content-width: 720px;
  }
}

@media (min-width: 992px) {
  :root {
    --max-content-width: 960px;
  }
}

@media (min-width: 1200px) {
  :root {
    --max-content-width: 1140px;
  }
}

a {
  color: #ff4e1d;
}

/* Main */

.main {
  width: 100%;
  height: 100%;
}

  /* Stuff that you need in the middle portion
   * of the screen (like the stuff inside the
   * navbar and footer) should be inside
   * an element with this tag
   */
.middle-content-container {
  max-width: var(--max-content-width);
  margin-left: auto;
  margin-right: auto;
}

/* Navbar and footer */

header, footer {
  background-color: #f6fafb;
}

.navbar, .footer-content {
  width: 100%;
  min-height: 45px;

  padding-top: 8px;
  padding-bottom: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar section > :not(*:first-child) {
  padding-left: 5px;
}

.navbar section > :not(*:last-child) {
  padding-right: 5px;
}

.navbar a {
  text-decoration: none;
  color: #343a40;
}

.navbar a:hover {
  color: black;
}

.navbar-contents {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.navbar-contents > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Forms */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.main > div > form {
  margin-top: 10px;
}

.main > div > form:first-child {
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

form > * {
  width: 100%;
  box-sizing: border-box;
}



input {
  margin: 5px;
  padding: 9px;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  background-color: #f6fafb;
}

input[type="submit"] {
  color: white;
  background-color: #ff4e1d;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.form-error {
  font-size: 0.8em;
  color: red;
}

/* Stuff */

.car {
  display: flex;
  width: 100%;
  margin: 0.3em 0;
  border: 1px solid #f5f5f5;
  border-radius: 6px;
  background-color: #f6fafb;
}

.car > * {
  margin: 0.4em;
}

.car > *:first-child {
  flex: 1;
  margin-left: 1em;
}

/* Other general stuff */

.flex-spacer {
  flex: 1;
}

.full-width {
  width: 100%;
}

.flex-row-form {
  display: flex;
  flex-direction: row;
}

.flex-row-form > * {
  width: fit-content;
}

.flex-row-form > input[type="submit"] {
  flex: 1;
}
