@model EditUserViewModel
@{
	ViewData["Title"] = "Edit Profile";
}

<form asp-controller="Account" asp-action="Edit" method="post">
	<label asp-for="FirstName">FirstName:</label>
	<input type="text" asp-for="FirstName" placeholder="FirstName">
	<span asp-validation-for="FirstName" class="form-error"></span>

	<label asp-for="MiddleName">MiddleName:</label>
	<input type="text" asp-for="MiddleName" placeholder="MiddleName">
	<span asp-validation-for="MiddleName" class="form-error"></span>

	<label asp-for="LastName">LastName:</label>
	<input type="text" asp-for="LastName" placeholder="LastName">
	<span asp-validation-for="LastName" class="form-error"></span>

	<label asp-for="EGN">EGN:</label>
	<input type="text" asp-for="EGN" placeholder="EGN">
	<span asp-validation-for="EGN" class="form-error"></span>

	<label asp-for="PhoneNumber">PhoneNumber:</label>
	<input type="text" asp-for="PhoneNumber" placeholder="PhoneNumber">
	<span asp-validation-for="PhoneNumber" class="form-error"></span>

	<label asp-for="Email">Email:</label>
	<input type="text" asp-for="Email" placeholder="Email">
	<span asp-validation-for="Email" class="form-error"></span>

	<label asp-for="Username">Username:</label>
	<input type="text" asp-for="Username" placeholder="Username">
	<span asp-validation-for="Username" class="form-error"></span>

	<input type="submit" value="Update Profile">
</form>
