@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<nav class="navbar">
	<div class="middle-content-container navbar-contents">
		<div class="flex-spacer"></div>
		<section>
			<b>FilmWorld</b>
			<a asp-controller="Home" asp-action="Index">Home</a>
			@if (SignInManager.IsSignedIn(User))
			{
				<a asp-controller="Film" asp-action="Index">Films</a>
				<a asp-controller="Catalog" asp-action="Index">Catalogs</a>
				@if (User.IsInRole("Administrator"))
				{
					<a asp-controller="Account" asp-action="Accounts">Accounts</a>
				}

				<a asp-controller="Account" asp-action="Profile" asp-route-username="@UserManager.GetUserName(User)">
					@UserManager.GetUserName(User)
				</a>

				<form asp-controller="Account" asp-action="Logout" method="post">
					<input type="submit" value="Logout">
				</form>
			}
			else
			{
				<a asp-controller="Account" asp-action="Login">Login</a>
				<a asp-controller="Account" asp-action="Register">Register</a>
			}
		</section>
		<div class="flex-spacer"></div>
	</div>
</nav>
