@using System.Collections.Generic

@model List<CarViewModel>
@{
	ViewData["Title"] = "Car";
}

<div></div>
<form asp-controller="Car" asp-action="Index" method="get" class="full-width flex-row-form">
	<label for="onlyFree">Only free cars</label>
	<input type="checkbox" name="onlyFree" value="true">

	<label for="startTime">Renting start time</label>
	<input type="datetime-local" name="startTime" value="@Context.Request.Query["startTime"]">

	<label for="endTime">Renting end time</label>
	<input type="datetime-local" name="endTime" value="@Context.Request.Query["endTime"]">

	<input type="submit" value="Filter">
</form> 

@foreach(var car in Model)
{
	<section class="car" class="full-width">
		<div>
			<h3>
				@car.Brand @car.Model @car.Year
			</h3>
			<h5>
				@car.CountOfPassengerSeats passenger seats<br>
				@car.RentPricePerDay lev./day
			</h5>
			<div>
				@car.Description
			</div>
			@if (@car.IsFree)
			{
				<form asp-controller="Car" asp-action="Rent" method="get">
					<input type="hidden" name="carId" value="@car.Id">
					<input type="hidden" name="startTime" value="@Context.Request.Query["startTime"]">
					<input type="hidden" name="endTime" value="@Context.Request.Query["endTime"]">
					<input type="submit" value="Rent">
				</form>
			}
		</div>
		<div>
			<img src="@car.Photo">
		</div>
	</section>
}
