@model CarRentViewModel

<div>Currently renting:</div>
<section class="car">
	<div>
		@Model.Brand @Model.Model @Model.Year
	</div>
	<div>
		<img src="@Model.Photo">
	</div>
</section>

<form asp-controller="Car" asp-action="GetPrice" method="post">
	<input type="hidden" name="carId" value="@Context.Request.Query["carId"]">

	<label for="startTime">Renting start time</label>
	<input type="datetime-local" name="startTime" value="@Context.Request.Query["startTime"]" required @(Model.TotalPrice > 0 ? "disabled" : "")>

	<label for="endTime">Renting end time</label>
	<input type="datetime-local" name="endTime" value="@Context.Request.Query["endTime"]" required @(Model.TotalPrice > 0 ? "disabled" : "")>

	<input type="submit" value="Get Price">
</form>

@if (Model.TotalPrice > 0)
{
	<h4>
		Total Price: @Model.TotalPrice
	</h4>

	<form asp-controller="Car" asp-action="Rent" method="post">
		<input type="hidden" name="carId" value="@Context.Request.Query["carId"]">
		<input type="hidden" name="startTime" value="@Context.Request.Query["startTime"]" required>
		<input type="hidden" name="endTime" value="@Context.Request.Query["endTime"]" required>
		<input type="hidden" name="totalPrice" value="@Model.TotalPrice" required>

		<input type="submit" value="Confirm">
	</form>

	<form asp-controller="Car" asp-action="Rent" method="get">
		<input type="hidden" name="carId" value="@Context.Request.Query["carId"]">
		<input type="hidden" name="startTime" value="@Context.Request.Query["startTime"]" required>
		<input type="hidden" name="endTime" value="@Context.Request.Query["endTime"]" required>
		<input type="hidden" name="totalPrice" value="@Model.TotalPrice" required>

		<input type="submit" value="Reset">
	</form>
}
