
/* Change the maximum width of content (stuff inside pages and navbar),
 * depending on width of browser window.
 * Configuration copied from default Bootstrap
 */

@media (min-width: 576px) {
  :root {
    --max-content-width: 540px;
  }
}

@media (min-width: 768px) {
  :root {
    --max-content-width: 720px;
  }
}

@media (min-width: 992px) {
  :root {
    --max-content-width: 960px;
  }
}

@media (min-width: 1200px) {
  :root {
    --max-content-width: 1140px;
  }
}

/* Main */

.main {
  width: 100%;
  height: 100%;
}

  /* Stuff that you need in the middle portion
   * of the screen (like the stuff inside the
   * navbar and footer) should be inside
   * an element with this tag
   */
.middle-content-container {
  max-width: var(--max-content-width);
  margin-left: auto;
  margin-right: auto;
}

/* Navbar and footer */

.navbar, .footer-content {
  width: 100%;
  min-height: 45px;

  padding-top: 8px;
  padding-bottom: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar section > :not(*:first-child) {
  padding-left: 5px;
}

.navbar section > :not(*:last-child) {
  padding-right: 5px;
}

.navbar a {
  border-right: 1px solid black;
}

.navbar a:last-of-type {
  border-right: none;
}

.navbar a:hover {
  color: black;
}

.navbar-contents {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.navbar-contents > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Forms */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.main > div > form {
  margin-top: 10px;
}

.main > div > form:first-child {
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

form > * {
  width: 100%;
  box-sizing: border-box;
}

input {
  margin: 5px;
  padding: 9px;
  border: 1px solid black;
}

input[type="submit"] {
  background-color: white;
  box-shadow: 3px 3px;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.form-error {
  font-size: 0.8em;
  color: red;
}

/* Other general stuff */

.flex-spacer {
  flex: 1;
}

/* Catalogs */

.card {
  padding: 0.5em;
  border: 1px solid black;
  margin: 0.5em 0;
  display: flex;
}

.card > *:first-child {
  flex: 1;
}

.card img {
  max-height: 10em;
}

/* General */

.buttons {
  display: flex;
}

.buttons > * {
  margin: 0 0.3em;
}

.search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.search-form input {
  margin-right: 8px;
  flex: 1;
}

.search-form input[type="submit"] {
  flex: 0;
}
