@model List<CatalogWebModel>
@{
	ViewData["Title"] = "Film";
}

<section>
	To which catalogs do you want to add this film?
</section>

<form asp-controller="Catalog" asp-action="AddFilm" method="post">
	<input type="hidden" name="filmId" value="@Context.Request.Query["id"]">

	@foreach (var item in Model)
	{
		<div>
			<input type="checkbox" name="catalogIds[]" value="@item.Id">
			<label>@item.Name</label>
		</div>
	}

	<input type="submit" value="Add film">
</form>
