@model CreateCatalogWebModel
@{
	ViewData["Title"] = "Creating a new Catalog";
}

<form asp-controller="Catalog" asp-action="Create" method="post">
	<input type="text" asp-for="Name" placeholder="Name">
	<span asp-validation-for="Name" class="form-error"></span>

	<input type="text" asp-for="Description" placeholder="Description">
	<span asp-validation-for="Description" class="form-error"></span>

	<input type="submit" value="Create">
</form>

@if (Model != null)
{
	<p class="form-error">
		Couldn't create Catalog!
	</p>
}
