@model CatalogWebModel
@{
	ViewData["Title"] = "Catalog";
}

<section>
	<h2>
		@Model.Name
	</h2>
	<p>
		@Model.Description
	</p>

	<div class="buttons">
		<form asp-controller="Catalog" asp-action="Edit" method="get">
			<input type="hidden" name="Id" value="@Model.Id">
	
			<input type="submit" value="Edit">
		</form>
		<form asp-controller="Catalog" asp-action="Delete" method="get">
			<input type="hidden" name="Id" value="@Model.Id">
	
			<input type="submit" value="Delete">
		</form>
	</div>
</section>

@foreach(var item in Model.Films)
{
	<section class="card">
		<div>
			<b>
				@item.Name
			</b>
			<p>
				@item.Description
				<br>
				Premiered: @item.PremiereDate
			</p>
			<div class="buttons">
				@if (User.IsInRole("Administrator"))
				{
					<form asp-controller="Film" asp-action="Edit" method="get">
						<input type="hidden" name="Id" value="@item.Id">
						<input type="submit" value="Edit">
					</form>
	
					<form asp-controller="Film" asp-action="Delete" method="get">
						<input type="hidden" name="Id" value="@item.Id">
						<input type="submit" value="Delete">
					</form>
				}
			</div>
		</div>
		<img src="@item.PhotoURL">
	</section>
}
