@model EditCatalogWebModel
@{
	ViewData["Title"] = "Editing Catalog";
}

<form asp-controller="Catalog" asp-action="Edit" method="post">
	<!-- Gets the id from the URL and sets it to the model -->
	<input type="hidden" asp-for="Id" value="@Context.Request.Query["id"]">
	<input type="hidden" asp-for="AuthorId" value="@Model.AuthorId">
	<label asp-for="Name">Name</label>
	<input type="text" asp-for="Name" placeholder="Name">
	<span asp-validation-for="Name" class="form-error"></span>

	<label asp-for="Description">Description</label>
	<input type="text" asp-for="Description" placeholder="Description">
	<span asp-validation-for="Description" class="form-error"></span>

	<input type="submit" value="Edit">
</form>
