@model IEnumerable<CatalogWebModel>
@{
	ViewData["Title"] = "Catalogs";
}

<div>
	<a asp-controller="Catalog" asp-action="Create">Create</a>
	@foreach (var item in Model)
	{
		<section class="card">
			<div>
				<div>
					@item.Name
				</div>
				<div>
					@item.Description
				</div>
			</div>
			<form asp-controller="Catalog" asp-action="Details" method="get">
				<input type="hidden" name="Id" value="@item.Id">
				<input type="Submit" value="Details">
			</form>
		</section>
	}
	@if (Model.Count() == 0)
	{
		<h3>
			You have no catalogs!
		</h3>
	}
</div>
