@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<nav class="navbar border-bottom box-shadow">
	<div class="middle-content-container navbar-contents">
		<section>
			<b>RentACar</b>
			<a asp-controller="Home" asp-action="Index">Home</a>
			<a asp-controller="Car" asp-action="Index">Cars</a>
		</section>
		<div class="flex-spacer"></div>
		<section>
			@if (SignInManager.IsSignedIn(User))
			{
				<a asp-controller="Account" asp-action="Profile" asp-route-username="@UserManager.GetUserName(User)">
					@UserManager.GetUserName(User)
				</a>

				<form asp-controller="Account" asp-action="Logout" method="post">
					<input type="submit" value="Logout">
				</form>
			}
			else
			{
				<a asp-controller="Account" asp-action="Login">Login</a>
				<a asp-controller="Account" asp-action="Register">Register</a>
			}
		</section>
	</div> 
</nav>
