@model CreateFilmWebModel
@{
	ViewData["Title"] = "Creating a new Film";
}

<form asp-controller="Film" asp-action="Create" method="post" enctype="multipart/form-data">
	<input type="text" asp-for="Name" placeholder="Name">
	<span asp-validation-for="Name" class="form-error"></span>

	<input type="file" asp-for="Photo">
	<span asp-validation-for="Photo" class="form-error"></span>

	<input type="text" asp-for="Description" placeholder="Description">
	<span asp-validation-for="Description" class="form-error"></span>

	<input type="date" asp-for="PremiereDate" placeholder="PremiereDate">
	<span asp-validation-for="PremiereDate" class="form-error"></span>

	<input type="submit" value="Create">
</form>

@if (Model != null)
{
	<p class="form-error">
		Couldn't create Film!
	</p>
}
