@{
	ViewData["Title"] = "Deleting Film";
}

<p>
	Are you sure you want to delete this Film?
</p>
<form asp-controller="Film" asp-action="Delete" method="post">
	<!-- Gets the id from the URL and sets it to the model -->
	<input type="hidden" name="id" value="@Context.Request.Query["id"]">
	
	<input type="submit" value="Delete">
</form>
