@model FilmWebModel
@{
	ViewData["Title"] = "Film";
}

<section class="card">
	<div>
		<b>
			@Model.Name
		</b>
		<p>
			@Model.Description
			<br>
			Premiered: @Model.PremiereDate
		</p>
		<div class="buttons">
			<form asp-controller="Catalog" asp-action="AddFilm" method="get">
				<input type="hidden" name="Id" value="@Model.Id">

				<input type="submit" value="Add to a catalog">
			</form>
			@if (User.IsInRole("Administrator"))
			{
				<form asp-controller="Film" asp-action="Edit" method="get">
					<input type="hidden" name="Id" value="@Model.Id">
					<input type="submit" value="Edit">
				</form>

				<form asp-controller="Film" asp-action="Delete" method="get">
					<input type="hidden" name="Id" value="@Model.Id">
					<input type="submit" value="Delete">
				</form>
			}
		</div>
	</div>
	<img src="@Model.PhotoURL">
</section>
