@model EditFilmWebModel
@{
	ViewData["Title"] = "Editing Film";
}

<form asp-controller="Film" asp-action="Edit" method="post" enctype="multipart/form-data">
	<!-- Gets the id from the URL and sets it to the model -->
	<input type="hidden" asp-for="Id" value="@Context.Request.Query["id"]">
	<label asp-for="Name">Name</label>
	<input type="text" asp-for="Name" placeholder="Name">
	<span asp-validation-for="Name" class="form-error"></span>

	<label asp-for="Photo">Photo</label>
	<input type="file" asp-for="Photo">
	<span asp-validation-for="Photo" class="form-error"></span>

	<label asp-for="Description">Description</label>
	<input type="text" asp-for="Description" placeholder="Description">
	<span asp-validation-for="Description" class="form-error"></span>

	<label asp-for="PremiereDate">PremiereDate</label>
	<input type="date" asp-for="PremiereDate" placeholder="PremiereDate">
	<span asp-validation-for="PremiereDate" class="form-error"></span>

	<input type="submit" value="Edit">
</form>
