@model IEnumerable<FilmWebModel>
@{
	ViewData["Title"] = "Films";
}

@if (User.IsInRole("Administrator"))
{
	<a asp-controller="Film" asp-action="Create">Create</a>
}
<form asp-controller="Film" asp-action="Index" method="get" class="search-form">
	<input type="text" name="query" placeholder="Search" value="@Context.Request.Query["query"]">
	<input type="submit" value="Search">
</form>
<div>
	@foreach (var item in Model)
	{
		<section class="card">
			<div>
				<b>
					@item.Name
				</b>
				<p>
					@item.Description
					<br>
					Premiered: @item.PremiereDate
				</p>
				<div class="buttons">
					<form asp-controller="Film" asp-action="Details" method="get">
						<input type="hidden" name="Id" value="@item.Id">

						<input type="submit" value="Details">
					</form>
					@if (User.IsInRole("Administrator"))
					{
						<form asp-controller="Film" asp-action="Edit" method="get">
							<input type="hidden" name="Id" value="@item.Id">
							<input type="submit" value="Edit">
						</form>

						<form asp-controller="Film" asp-action="Delete" method="get">
							<input type="hidden" name="Id" value="@item.Id">

							<input type="submit" value="Delete">
						</form>
					}
				</div>
			</div>
			<img src="@item.PhotoURL">
		</section>
	}
</div>

@if (Model.Count() == 0)
{
	<div class="form-error">
		We couldn't find any films!
	</div>
}
